<!-- <p>{{ _('Online assistance in performing tasks that require human cognition, knowledge or intelligence such as image classification, transcription, geocoding and more!') }}</p>
<ul>
  <li>{{ _('Help advance research') }}</li>
  <li>{{ _('Everything is open and freely usable') }}</li>
  <li>{{ _('Things computers can\'t do') }}</li>
</ul> -->

<br>
<p class="line25" align="center"> {{ _('This is an online platform that makes people help people to perform research.' ) }} </p>
<br>
<p align="center" > <img src="http://socientize.lsd.ufcg.edu.br/icones/lista.png" style="width:500px"/> </p>
